main{
    background-color: #5b4a43;
    height: 71vh;
    padding-top: 100px !important;
}
a img{
    width: 300px !important;
    height: auto !important;
}
p{
    display: inline-block;
    color: white;
    font-size: 40px;
}
table{
    text-align: center;
    margin-top: 100px;
}
.dolt{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-top: 100px;
    float: right;
}
