nav{
    background-image: url("../img/banner.jpg");
    width: 100vw;
    height: 138px;
    background-size: cover;
}
img{
    height: 75vh;
    background-size: cover;
    width: 100vw;
}
footer{
    background-image: url("../img/banner.jpg");
    width: 100vw;
    height: 138px;
    background-size: cover;
}
.row{
    --bs-gutter-x: 0rem !important;
}